<demo-section [name]="name" [src]="src" [componentContent]="componentContent">
  <p>Provides a Bootstrap styled data-table powered by <a href="https://material.angular.io/cdk/table/overview" target="_blank">@angular/cdk</a> that can be used to display rows of data.</p>
  <pre class="prettyprint lang-bash prettyprinted"><span class="pln">ng add ngx</span><span class="pun">-</span><span class="pln">bootstrap </span> --component <span class="pln">table</span></pre>
  <docs-section [content]="componentContent"></docs-section>
</demo-section>
